body
{
margin: 0 10% 0 10%;
background-color:#FAFAFA;
color: black;
font-family: 'Roboto Slab', serif;
}

h1{
	margin: 5 200 0 100;
	padding: 0;
	font-weight: normal;
	font-weight: 200;
	color: #222222;
	border-radius: 15px;
	-moz-border-radius: 15px;
	border: 3px solid red;
	padding: 10px
}

h2, h3 {
	margin: 0 0 10 0;
	padding: 0;
	font-weight: normal;
	font-weight: 200;
	color: #222222;
}

p
{
text-align: left;
}

table, td, th
{
border:0;
}

th
{
background-color:red;
color:white;
}

.course-code{
font-weight:bold;
}

.course-name{
font-size:70%;
}

.header{
background-color:red;
color:white;
font-weight:bold;
text-align:center;
}

.data{
text-align:center;
margin: 5px 0 10px 0;
}

.container{
width: 200px;
margin:0 0 0 100px;
padding: 5px;
border: 1px solid #cccccc;
background: #FAFAFA;
text-align:center;
float: right;
}

 /*
 This must be added to all webpages to ensure they download the correct font from
 Google Fonts.
 <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
 */