/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset

body
  font-family: Helvetica

#wrapper
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.course-result
  display: inline-block
  margin: 5px
  padding: 5px
  border: 1px solid black

.course-result-code
  font-weight: bold 

.course-result-professor
  font-size: 13px

.starred-course-result
  background: #FFFDE8
  
#course-search
  width: 500px
  vertical-align: middle
  padding: 10px
  font-size: 15px
  margin-left: auto
  margin-right: auto
      
#filter-sidebar
  

#course-results


.course-results-department-name
  font-weight: bold
  display: block
    
footer
  position: absolute
  text-align: center
  width: 100%
  bottom: 5px

  

