@import compass/reset

* 
  box-sizing: border-box

.relative
  position: relative
  width: 100%
  height: 100%

html, body 
  margin: 0
  padding: 0

body
  font-family: Helvetica

#wrapper
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

  #content
    padding-top: 48px

nav#main 
  position: fixed
  width: 100%
  height: 36px
  border-bottom: 1px solid #444

  h1#title
    position: absolute
    top: 0
    left: 10px
    font-weight: 300
    font-size: 26px
    line-height: 36px

  #course-search
    position: absolute
    top: 0
    left: 150px
    margin: 0
    height: 36px
    line-height: 36px
    width: 302px
    box-shadow: none
    border-bottom: 1px solid black

  #schedule
    position: absolute
    top: 0
    left: 500px
    height: 100%
    width: 300px

    .day
      width: 14.285714286%
      height: 100%
      display: inline-block
      border-right: 1px solid #444

      &:last-child
        border-right: none

      .mtg 
        position: absolute
        width: 100%
        background-color: black


.course-result
  display: inline-block
  margin: 5px
  padding: 5px
  border: 1px solid black

.course-result-code
  font-weight: bold 

.course-result-professor
  font-size: 13px

.starred-course-result
  background: #FFFDE8
  
#course-search
  width: 500px
  vertical-align: middle
  padding: 10px
  font-size: 15px
  margin-left: auto
  margin-right: auto

.course-results-department-name
  font-weight: bold
  display: block
    
footer
  position: absolute
  text-align: center
  width: 100%
  bottom: 5px
