<html>
<head>
<title>Wesmaps+</title>
<link rel="stylesheet" href="/static/stylesheets/screen.css" type="text/css"></link>

<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/app.js"></script>

</head>
<body>
<div id="wrapper">
<div id="schedule"></div>
<input id="course-search" type="text" placeholder="Search for a course or course number"></input>
<div id="filter-sidebar"></div>
<div id="course-results"></div>
<footer>Built by Anastasis Germanidis, Tobias Butler, Max Dietz, and
        Justin Raymond.</footer>
</div>
</body>
</html>
