<html>
	<head>
		<title>{% block title %}{% endblock %} - Wesmaps+</title>
		<link rel="stylesheet" href="/static/stylesheets/screen.css"
		type="text/css" ></link>
		<script src="/static/js/jquery-1.9.1.min.js"></script>
		<script src="/static/js/underscore-min.js"></script>
		<script src="/static/js/schedule.js"></script>
		<script src="/static/js/backbone-min.js"></script>
		<script src="/static/js/app.js"></script>
	  <link href="static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <link href="static/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	  <!--[if IE]>
	      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <![endif]-->
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			{% block nav %}
				<nav id="main">
					<div class="relative">
						<h1 id="title">WesMaps+</h1>
						<input id="course-search" type="text" placeholder="Search for a course or course number"></input>
						<div id="schedule"></div>
						<div id="filter-sidebar"></div>
						<div id="course-results"></div>
					</div>
				</nav>
			{% endblock %}
				<div id="content">
					{% block content %}
					{% endblock %}
				</div>
				<footer>Built by Anastasis Germanidis, Tobias Butler, Max Dietz, and Justin Raymond.</footer>
			{% block footer %}
			{% endblock %}
		</div>
	</body>
</html>
