<html>
	<head>
		<title>WesMaps+</title>
		<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/stylesheets/screen.css"
		type="text/css" ></link>
		<style type="text/css">
			@-moz-document url-prefix() {
			    .day {
			        width: 13.85% !important;
			    }

			    .section-schedule .day {
			    	width: 13.8% !important;
			    }
			}
		</style>
		<script src="/static/js/jquery-1.9.1.min.js"></script>
		<script src="/static/js/underscore-min.js"></script>
		<script src="/static/js/backbone-min.js"></script>
                <script>
                        var allSections = {{ allSections|tojson|safe }};
                        var scheduledSections = {{ sections|tojson|safe }};
                        var starredCourses = {{ starred|tojson|safe }};
                </script>
		<script src="/static/js/all_courses.js"></script>
		<script src="/static/js/schedule_testing.js"></script>
		<script src="/static/js/scheduling.js"></script>
		<script src="/static/js/natural_language.js"></script>
		<script src="/static/js/section_schedule.js"></script>
		<script src="/static/js/schedule.js"></script>
		<script src="/static/js/app.js"></script>
	  <link href="static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <link href="static/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	  <!--[if IE]>
	      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <![endif]-->
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			{% block nav %}
				<nav id="main">
					<div class="relative">
						<h1 id="title">WesMaps+</h1>
						<!-- <div id="search-input-container"> -->
                        <input id="course-search" type="text" placeholder="Search for a course">
						</input>
                        <div id="schedule"></div>
						<div id="notification"></div>
					</div>
				</nav>
			{% endblock %}
			<div id="subject-list" class="main-col">
				<ul></ul>
			</div>
			<div id="course-list" class="main-col">
				<ul></ul>
			</div>
			<div id="content">
				<h2 class="welcome">Welcome to WesMaps+</h2>
				<p>Start searching for courses. Star
				the ones you want to remember. Then
				visualize your schedule while you
				choose your classes.</p>
                                <button id='load-sample-schedule'>Load a sample schedule</button>
				<p></p> 
				<!-- <h1><div id='course-code'></div><span id='course-name'></span></h1> -->
				<!-- <div id='container'> -->
  				<!-- 	<button id='course-updater'></button> -->
  				<!-- 	<div id='header'>Credit</div> -->
  				<!-- 	<div id='credit-data'></div> -->
  				<!-- 	<div id='header'>GenEd</div> -->
  				<!-- 	<div id='gened-data'></div> -->
  				<!-- 	<div id='header'>Graded?</div> -->
  				<!-- 	<div id='graded-data'></div> -->
  				<!-- 	<div id='header'>Prerequisites</div> -->
  				<!-- 	<div id='prereq-data'></div> -->
				<!-- </div> -->
				<!-- <div id='description'></div> -->

                                
			</div>
			<footer>Built by Anastasis Germanidis, Tobias
			Butler, <a href="http://mdietz.me">Max Dietz</a>, and Justin Raymond during
			the <a href="http://weshack.com">Wesleyan
			Senior Week Hackathon</a>.</footer>
			{% block footer %}
			{% endblock %}
		</div>
	</body>
</html>
 
